
[class*="col-"].gris {
    background-color: grey;
    border:solid 1px white;
    padding-top: 15px;
    padding-bottom: 15px;
}

body { 
  margin:0;
  padding:0;
  background: url(../img/Polytechnique.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; 
  background-size: cover; 
}
.navbar {
  background: none;
  border:0px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.jumbotron {
    background-color:rgba(0,0,0,0);
    color:black;
}

.cadre{
    border-radius: 10px;
    
    background-color: rgb(238, 238, 238);
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
 
}
.cadre_transparent{
    border-radius: 10px;
    background-color: rgba(238, 238, 238,0.7);
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
 
}

h1,h2,h3,p {
    text-align: center;
}



.boxy{
    background-color: grey ; 
    border-radius: 10px;
    color: white;
}

video {
    width: 100%;
    height: auto;
}