
[class*="col-"].gris {
    background-color: grey;
    border:solid 1px white;
    padding-top: 15px;
    padding-bottom: 15px;
}



body { 
  margin:0;
  padding:0;
  background: url(../img/dollar.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; 
  background-size: cover; 
}


.row{
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
 
}


h1,h2,h3,p {
    text-align: center;
}



.boxy{
    background-color: grey ; 
    border-radius: 10px;
    color: white;
}
