


body { 
  margin:0;
  padding:0;
  background: url(../img/Polytechnique.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; 
  background-size: cover; 
}
.navbar {
  background: none;
  border:0px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.jumbotron {
    background-color: rgba(0,0,0,0);
    color:black;
}

.cadre{
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
 
}
.cadre_transparent{
    border-radius: 10px;
    background-color: rgba(238, 238, 238,0.7);
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
 
}

h1,h2,h3,p {
    text-align: center;
}


video {
    width: 100%;
    height: auto;
}

/***validation du formulaire d'inscription***/

#inscription input:hover{
    background-color:#C4FEF9;
}
#inscription input.succes{
    background-color: #D6FFD3;
}
#inscription input.erreur{
    background-color:#FF886E;
}

#changePassword input:hover{
    background-color:#C4FEF9;
}
#changePassword input.succes{
    background-color: #D6FFD3;
}
#changePassword input.erreur{
    background-color:#FF886E;
}

.messageErreur{
    text-align: left;
    font-size:9px;
    color: #FF886E;
}

/***Transitions entre les pages***/
.cadre_transparent, .jumbotron{
    transition: 0.5s ease;
}
.goOut{
    transform: translateX(400px);
    opacity: 0;  
}

#cagnotte{
    text-align: center;
    font-size: 70px;   
    width:70%;
    background-color: #272727;
}

.badge{
    color: white;
    background-color: red;
}
