@import url('https://fonts.googleapis.com/css?family=Nixie+One');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

.dropdown-menu{
    width: 250px;
}
body{ 
  font-family: 'Libre Baskerville',serif;
}

h1,h2,h3, nav a {
    font-family: 'Nixie One',cursive;
}
.navbar-nav>li>a{
    font-size:20px;
}
.navbar-nav>li>a:hover{
    font-size:22px;
    font-weight: bold;

}
.jumbotron p{
    font-size:18px;
}

/***Indications compte à rebours***/
  #jours,#secondes,#minutes,#heures,#euro {
    font-size:25px;
 }
 #jours { 
    margin-left: 70px;
 }
 #minutes { 
    margin-left: 50px;
 }
 #secondes { 
    margin-left: 35px;
 }
 #heures{
    margin-left: 70px;
 }